* {
  margin: 0%;
  padding: 0%;
}
body {
  width: 1280px;
  border: 1px solid grey;
  font-family: "Montserrat", sans-serif;
  position: absolute;
  left: 0%;
  right: 0%;
  margin: 0 auto;
  height: 1500px;
}

.header {
  padding: 26px 0;
}

.header-navigation li {
  display: inline;
  margin: 0 36px;
}

.header-navigation ul {
  text-align: center;
}

.header-link {
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #ff0000;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2.7px;
}

.banner {
  width: 1280px;
  height: 789px;
  background-image: url("./img/image\ 1.png");
  margin-bottom: 49px;
}

.heading {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  letter-spacing: 3.3px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 49px;
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 49px;
}

.text-box {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 49px;
}

.box {
  background: #ff0000;
  position: absolute;
  width: 191px;
  height: 51px;
  left: 544.5px;
  font-weight: 700px;
  font-size: 12px;
  line-height: 12px;
  display: flex;
  align-items: center;
  letter-spacing: 1.8px;
  text-transform: uppercase;
  text-decoration: none;
  text-indent: 45px;
  color: #ffffff;
}

.note {
  line-height: 20px;
  font-weight: 700px;
  font-style: normal;
  font-size: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 2.4px;
  position: absolute;
  width: 462px;
  height: 300px;
  left: 700px;
}
